body {
font-family: Arial, sans-serif;
text-align: center;
background: #0f172a;
color: white;
}

h1 {
margin-top: 20px;
}

table {
margin: 30px auto;
border-collapse: collapse;
width: 60%;
background: #1e293b;
border-radius: 10px;
overflow: hidden;
}

th, td {
padding: 12px;
}

th {
background: #334155;
}

tr:nth-child(even) {
background: #0f172a;
}

tr:hover {
background: #475569;
}
