body {
font-family: Arial;
text-align: center;
background: linear-gradient(135deg, #0f172a, #1e293b);
color: white;
}

table {
margin: 30px auto;
width: 70%;
border-collapse: collapse;
border-radius: 12px;
overflow: hidden;
}

th {
background: #334155;
padding: 12px;
}

td {
padding: 10px;
}

tr:nth-child(even) {
background: #1e293b;
}

tr:hover {
background: #475569;
}
